/**
 * @copyright   2015 by Markus Kosmal (corrected and fixed work formerly maintained by Tobias Reich)
 */

#multiselect {
	position: absolute;
	background-color: rgba(0, 94, 204, .3);
	border: 1px solid rgba(0, 94, 204, 1);
	border-radius: 3px;
	z-index: 3;
}